.nav-item:hover{
    text-decoration: underline;
    color:green;

}
.navbar-brand{
    animation-name: head;
    animation-duration: 3s;
    padding-right: 80px;
}

@keyframes head {

    0%{
        transform:translateX(0);
        opacity: 0;

    }

    100%{
        transform: translatex(50px);
        opacity: 1;
    }
    
}
.footer{
    width: 100%;
    height: 40px;
    position: relative;
    bottom: 0;
    margin-bottom:300px;
    background-color: #2222;
}
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
  }
  
  .fcontainer {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
  }
  
  .middle-container {
    padding: 100px 0;
  }
  
  h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66bfbf;
  }
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
    padding-bottom: 10px;
  }
  
  h3 {
    font-family: 'Montserrat', sans-serif;
    
  }
  p {
    line-height: 2;
  }
  
  .core {
    width: 30%;
    margin: auto;
  }
  
  hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 5%;
  }
  
  .skill-row {
    width: 50%;
    margin: 100 auto 100 auto;
    text-align: left;
  }
  a {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  a:hover {
    color: #eaf6f6;
  }
  .top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
  }
  
  .bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
  }
  
  .code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
  }
  .chilli-img {
    width: 25%;
    float: right;
    margin-left: 30px;
  }
  .footer-link{
    font-size: 20px;
  }
  /*
    code.skill-desc{
    clear:left;
    }
    chilli.skill-des{
    clear:right;
    }
    */
  .contact-message {
    width: 40%;
    margin: 40px auto 60px;
  }
  
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  
  .bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
  }
  
  .copy-right {
    color: #fff;
    font-size:1.2rem;
    padding: 20px 0;
  }
  a {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  a:hover {
    color: #eaf6f6;
  }
/* .mb{
    margin-top: 200px;
    width: 200px;

}
.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}

/*  */
/* 
#header .logo a {
    color: #0d6efd;
}



#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    height: 80px;
    padding: 15x 0;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}
.align-items-center {
    align-items: center!important;
}
.d-flex {
    display: flex!important;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #6c757d;
    white-space: nowrap;
    transition: 0.3s;
    text-transform: uppercase;
    position: relative;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

navbar > ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 22px;
}
.navbar li {
    position: relative;
}
p, li, blockquote, label {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
    color: fff;
    margin-bottom: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar {
    padding: 0;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #2a2a2a;
}  */
